.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.buildpath
*.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml