* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 13px;
}

html,
body {
    height: 100%;
}

#body {
    position: relative;	
}

#map-canvas {
    width: 100%;	
}

.search-performed {
	  font-size: 24px;
	  font-weight: bold;
	  color: #2799DB;
	  text-shadow: 1px 1px #FFFFFF;
	  position: absolute;
	  text-align: center;
	  width: 300px;
	  margin: auto;
	  text-align: center;
	  text-transform: uppercase;
	  z-index: 1;
	  left: 50%;
	  top: 10px;
	  margin-left: -150px;
}
#control-holder {
    position: absolute;
    bottom: 0px;
    width: 100%
}

#input-holder {
	  float: left;
    width: 100%;
}

#input-button-indent {
    padding-right: 140px;	
}

#button-holder {
	  float: left;
    margin-left: -140px;
    width: 140px;
}

.input-box {
    width: 100%;
    border: 1px solid white;	
}

.button {
	  background-color: #2799DB;
    border: 1px solid white;
    color: white;
    width: 70px;
}

.float-left {
	  float: left;
}

ul#menu-item {
	
}

.item a {
    display: block;	
    padding: 10px;
    border-bottom: 1px solid black;
}

@media all and (min-width: 641px) {
	  .input-pad { 
	      padding : 5px; 
	  }
}

@media all and (max-width: 640px) {
	  .input-pad { 
	      padding : 8px 5px; 
	  }
}